* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #34495e;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
}

h1 {
  margin: 2rem 0;
}

.game-container {
  position: relative;
  padding: 2rem 3rem;
  margin: 3rem 0 5rem;
  height: 350px;
  width: 450px;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container span {
  font-size: 1.3rem;
}

.word {
  display: flex;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0 3px;
  width: 20px;
}
.empty-space {
  display: inline-flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0 3px;
  width: 20px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  background: #2980b9;
  border-radius: 2px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 2rem;
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(-50px);
}
