:root {
  --background-color: radial-gradient(circle at 44% 69%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 88% 11%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 47% 61%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 77% 95%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 38% 56%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 56% 39%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 52% 28%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 0% 1%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 5% 85%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 77% 87%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 86% 65%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 42% 69%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 77% 82%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 65% 85%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 77% 75%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 80% 86%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 86% 71%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 5%, transparent 5%, transparent 100%), linear-gradient(90deg, rgb(141, 46, 235), rgb(49, 84, 107));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: var(--background-color);
  background-repeat: repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
}

h1 {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.main {
  padding: 1rem;
  text-align: center;
}

.category-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-buttons {
  text-align: center;
}

.category-buttons p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.category-buttons p:nth-child(2) {
  margin-top: -0.5rem;
  font-size: 0.9rem;
}

.category-buttons button {
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  border-radius: 1px;
  border: none;
  outline: none;
  margin-left: 0.2rem;
  align-items: center;
  width: 130px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.category-buttons button:hover {
  box-shadow: inset 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out;
}

.current-category {
  font-size: 1.3rem;
  margin: 1.5rem 0;
}

.category-name {
  border-bottom: 3px solid black;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
  margin-right: 2rem;
}

.figure-part {
  display: none;
}

.wrong-letters p {
  margin-top: 1rem;
}
.wrong-letters-container {
  margin-top: 1rem;
}

.wrong-letters-container span {
  font-size: 1.8rem;
  color: #f00404;
}

.word {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.letter {
  border-bottom: 3px solid black;
  display: inline-flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 5px 3px;
  width: 20px;
  height: 40px;
}

.empty-space {
  display: inline-flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0 3px;
  width: 20px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup {
  background-image: var(--background-color);
  border-radius: 2px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: black;
  border: 0;
  margin-top: 2rem;
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  padding: 15px 20px;
  margin-bottom: 2rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  width: 300px;
  margin: 0 auto;
  position: relative;
  bottom: 100px;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  opacity: 1;
}

#input {
  opacity: 0;
  position: fixed;
}

.show-keyboard {
  padding: 0.3rem;
  font-size: 0.7rem;
  border-radius: 1px;
  border: none;
  outline: none;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  margin: 0.5rem auto auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.game-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    padding: 1rem;
    text-align: center;
  }

  .category-buttons {
    text-align: center;
    margin-bottom: 1rem;
  }

  .current-category {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .category-buttons button {
    font-size: 0.7rem;
    width: 80px;
  }
}

@media screen and (min-width: 800px) {
  .show-keyboard {
    display: none !important;
  }
}
